.suggestions {
  background: white;
  border-radius: 8px;
  margin-top: 5px;
  max-height: 150px;
  overflow-y: auto;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background: #eee;
}